<div class="container">
  <h1>Operations on Two Numbers</h1>
  <div class="input-container">
    <input [(ngModel)]="leftNumber" type="number" #ctrl="ngModel" required />
    <input [(ngModel)]="rightNumber" type="number" #ctrl="ngModel" required />
  </div>
  <div class="button-container">
    <button (click)="add()">Add</button>
    <button (click)="sub()">Sub</button>
    <button (click)="multiply()">Multiply</button>
    <button (click)="divide()">Divide</button>
    <button (click)="reset()">Reset</button>
  </div>
  <div class="result">{{ result }}</div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .result {
    margin-top: 2rem;
    font-size: 8rem;
    text-align: center;
    color: #e4daff;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;
  }
  @media only screen and (min-width: 600px) {
    .input-container {
      flex-direction: row;
      justify-content: center;
    }
    .button-container {
      flex-direction: row;
    }
  }
  input {
    border-radius: 1rem;
    background: #d2c0fc;
    border: none;
    padding: 1rem;
    width: 12rem;
    height: 5rem;
    margin: 1rem;
    font-size: 5rem;
    color: #757377;
    text-align: center;
  }
  input:focus {
    outline: none;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  h1 {
    text-align: center;
    color: #e4d8ff;
  }
  button {
    background-color: #6030e5; /* Green */
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0.2rem;
    color: #d7bdff;
  }
</style>
